body {
    margin: 0;
    padding: 0;
}

/*ЭКРАН №1*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 1;
}
.display-none{
   display: none;
}
.title {
    margin-top: 5%;
    margin-left: 12%;
    font-size: 41px;
    font-family: SFProBold;
}
.task-container {
    margin-top: 35px;
    margin-left: 10px;
    display: flex;
}
.checkbox-container {
    position: relative;
    margin-top: 10px;
}
.checkbox-input {
    appearance: none;
    position: absolute;
}
.checkbox-label {

}
.checkbox-input:checked + .checkbox-label:before {
    background-color: #61DEA4;
    border-color: aqua;
}
.checkbox-label:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #dadada;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 1;
}
.checkbox-label:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    z-index: 2;
}
.task-text {
    width: 300px;
    margin-top: 2.5%;
    margin-left: 10%;
    font-size: 22px;
    justify-content: left;
    font-family: SFProRegular;
}
.task-text-completed {
    text-decoration-line: line-through;
    color: #dadada;
}
.btn-delete {
    width: 24px;
    height: 24px;
    border: solid 0;
    background: url("delete-off.png");
    background-size: contain;
    position: relative;
    margin-top: 3%;
    z-index: 3;
    font-family: SFProRegular;
}
.btn-delete:active {
    background: url("delete-on.png");
    background-size: contain;
}
.add-task {
    margin: 0 auto;
    position: absolute;
    top: 89%;
    left: 74%;
    z-index: 4;
    font-family: SFProRegular;
}
.add-task-btn {
    width: 64px;
    height: 64px;
    font-size: 35px;
    color: #006CFF;
    border-radius: 50%;
    border: solid 0;
    box-shadow: 0px 24px 32px rgba(21, 35, 56, 0.16);
    background: #ffffff;
}
.add-task-btn:active {
    color: #ffffff;
    box-shadow: 0px 24px 32px rgba(21, 35, 56, 0.16);
    background: #006CFF;
}
/*ЭКРАН №1*/

/*КАРТОЧКА С ВОПРОСОМ*/
.cover {
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(21, 35, 56, 0.16);
    z-index: 2;
}
.container-card {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0 24px 32px rgba(21, 35, 56, 0.16);
    border-radius: 15px;
    font-size: 22px;
    font-family: SFProRegular;
}
.btn-card {
    margin-right: 2%;
    width: 50px;
    height: 25px;
    color: black;
    border: 1px ridge rgb(0, 108, 255);
    border-radius: 13px;
    box-shadow: 0 24px 32px rgba(21, 35, 56, 0.16);
    background: #ffffff;
}
.btn-card:active {
    background: #006CFF;
    color: white;
}
/*КАРТОЧКА С ВОПРОСОМ*/

/*ЭКРАН №2 СОЗДАНИЕ НОВОЙ ЗАДАЧИ*/
.task-new {
    font-family: SFProRegular;
    position: absolute;
    width:100%;
    height:100%;
    z-index: 5;
}
.btn-container {
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    justify-content: space-between;
    background: white;
}
.btn-choice {
    background: transparent;
    color: #006CFF;
    font-size: 22px;
    border: solid 0;
}
.container-checkbox-new-task {
    margin-top: 54px;
    margin-left: 25px;
    display: flex;
}
.text-wrapper {
    width: 300px;
    margin-top:  -2px;
    margin-left: 35px;

    justify-content: left;
}
.text-input {
    width: 250px;
    padding-top: 12px;
    border: solid 0;
    outline: none;
    font-size: 22px;
    font-family: SFProRegular;
}
.btn-save-task{
    width: 24px;
    height: 24px;
    border: solid 0;
    background: url("save-off.png");
    background-size: contain;
    position: relative;
    margin-top: 3%;
}
.btn-save-task:active {
    background: url("save-on.png");
    background-size: contain;
}
/*ЭКРАН №2 СОЗДАНИЕ НОВОЙ ЗАДАЧИ*/

@font-face {
    font-family: SFProRegular;
    src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
    font-family: SFProBold;
    src: url("../fonts/SFPRODISPLAYBOLD.OTF");
}